
.centro{
    padding-top: 60px;
    padding-bottom: 60px;
}

.margn{
    margin: 30px;
}

.margn-sm{
   margin: 30px;
}
.bg-image{
    background-image: url('../../../assets/img/login/01.png');
}
.c-red{
    background: #B53332;
    border-radius: 8px;;
}