<div class= "card  mb-3 container" style="padding-top: 50px;">
    <div>
      <h2>LISTADO DE PROYECTOS - BANCO DE LA NACIÓN</h2>
    </div>
    <br>  
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="btn nav-link active" >
              SOT
            </a>
            <div style="border-bottom: 5px solid red;"></div>
        </li>
    </ul>
  
    <div id="sot" class="card-body sot py-3">
      <h6>REGISTRO DE SOT</h6>
      <hr>
      <div class="btns">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
              Registrar
            </button>
      </div>
      <div class="table py-3">
          <table id="tablaSot" class="hover" style="width:100%">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>N° Placa</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr >
                      <td>asdasdsd</td>
                      <td>c.placa </td>
                      <td>c.marca </td>
                      <td>c.modelo </td>
                      <td>
                       <a class="btn btn-light"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                      </td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <th>ID</th>
                      <th>Placa</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th></th>
                  </tr>
              </tfoot>
          </table>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Understood</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
