<div class= "card border-primary mb-3 container" style="padding-top: 50PX;">
    <h3>
        POP
    </h3>
    <p>
        Es un lugar físico donde un proveedor de servicios de telecomunicaciones (Claro) tiene equipamiento,
        esto puede variar desde unos cuantos equipos, hasta pisos enteros de dispositivos.
        También se puede identificar como un punto de interconexión entre las instalaciones de comunicación suministradas
        por la empresa de telecomunicaciones y la instalación de distribución principal de las redes dorsales.
    </p>  
    
    <img class="centrar-horizontalmente" src="./assets/img/ImgFactibilidad/Pop.jpeg" width="500" height="370" style="border:-10;">  
    
</div>


<hr class="featurette-divider">