<div class="todo">
    <div class="cuerpo">
     <div class="side-bar">
         <div class="space">
         </div>
         <ul>
             <li>Proyecto</li>            
             <li>BCP</li>
             <div class="sub_menu">
                 <ul>
                     <li><a (click)="irAsgaBCP()">-SGA</a></li>
                     <li><a (click)="irAsotBCP()">-SOT</a> </li>
                     <li> <a (click)="irAregistroBCP()" > -Registro</a></li>
                 </ul>
             </div>
            
 
             <li>BBVA</li>
             <div class="sub_menu">
                 <ul>
                     <li><a (click)="irAregistroBBVA()">-SGA</a></li>
                     <li><a (click)="irAsgaBBVA()" >-SOT</a></li>
                     <li><a (click)="irAsotBBVA()" >-Registro</a></li>
                 </ul>
             </div>
 
             <li>Banco de la Nación</li>
             <div class="sub_menu">
                 <ul>
                     <li><a (click)="irAsgaBN()" >-SGA</a></li>
                     <li><a (click)="irAsotBN()">-SOT</a></li>
                     <li><a (click)="irAregistroBN()" >-Registro</a></li>
                 </ul>
             </div>
            
             
             <li>Reportes</li>
         </ul>
     </div>
     <div class="contenedor">
 
     </div>
    </div>
 </div>
 
  <!--
  <!DOCTRYPE html>
  <html lang="es">
     <head>
 
     </head>
     <body>
         
         <div id="menú">menu</div>
             
         <div id="medio">mm</div>
             
         <div id="notas">notas</div>
 
         
     </body>
  </html>
   -->