<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
    <a class="navbar-brand" routerLink="home">CLARO PMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="nosotros">¿Quiénes somos?</a>
        </li>
        <!-- <li  *ngIf="estaEnSesion" class="nav-item active">
          <a class="nav-link" routerLink="dashboard">Dashboard <span class="sr-only"></span></a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="factibilidad">Factibilidad <span class="sr-only"></span></a>
        </li> 
      </ul>  

      <div class="btn-group">
        <a *ngIf="!estaEnSesion" type="button" class="btn btn-danger" routerLink="login">Intranet</a>
        <button *ngIf="estaEnSesion" type="button" class="btn btn-danger">Hola {{_usuarioNombre}}</button>
        <button *ngIf="estaEnSesion" type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-lg-right">
          <a class="dropdown-item" routerLink="">Mi Perfil</a>
          <a class="dropdown-item" routerLink="">Configuración</a>
          <div class="dropdown-divider"></div>
          <a (click)="cerrarSesion()" class="dropdown-item">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<label>
  <input type="checkbox" (change)="changeStatus($event)">
  <div class="toggle">
    <span class="top_line common"></span>
    <span class="middle_line common"></span>
    <span class="bottom_line common"></span>
  </div>
<div class="slide">
  <h1>PMO</h1>
  <hr>
  <ul class="_ul">
    <li class="_li">
      <a class="_a" routerLink="home"><i class="fa-solid fa-house"></i>Home </a>
    </li>
    <li class="_li">
      <a class="_a" routerLink="nosotros"><i class="fa-solid fa-address-card"></i>¿Quiénes somos?</a>
    </li>
    <li class="_li">
      <a class="_a" routerLink="factibilidad"><i class="fa-solid fa-people-roof"></i>Factibilidad</a>
    </li>    
  </ul>
  <hr>
  <ul  class="_ul" *ngIf="estaEnSesion">
    <li  class="_li">
      <a class="_a"><i class="fa-solid fa-list-check"></i>Proyectos</a>
    </li>
    <ul class="_ul">
      <li class="_li"><a class="_a" routerLink="BCP">Banco BCP</a></li>
      <li class="_li"><a class="_a" routerLink="BBVA">Banco BBVA</a></li>
      <li class="_li"><a class="_a" routerLink="BancoNacion">Banco Nación</a></li>
    </ul>
  </ul>
  <ul  class="_ul" *ngIf="estaEnSesion">
    <li class="_li">
      <a class="_a" routerLink="d"><i class="fa-solid fa-clipboard-list"></i>Reportes</a>
    </li> 
  </ul>
</div>

</label>

<main class="container-fluid _main {{_displayed?'pex':''}}">
  <router-outlet></router-outlet>
</main>

