<nav class="navbar navbar-dark navbar-expand "  style="opacity: 1; padding-top: 0px;">
    <div class="container" class="col-4" aria-haspopup="true" >    
        <div class="collapse navbar-collapse" id="navbarResponsive" >
            <ul class="nav navbar-nav text-uppercase">      
  
                <li class="nav-item dropdown"  style="opacity: 1;background-color: rgba(124, 124, 124, 0.973)">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"  style="color: rgb(255, 255, 255); ">PROYECTOS ACTUALES</a>
                    <div class="dropdown-menu" style="background-color: rgba(124,124,124,0.973)">
  
                        <a class="dropdown-item"  (click)="cambiarInformacion(1)"  style="color: rgb(255, 255, 255)">BCP</a>
  
                        <a class="dropdown-item"  style="color: rgb(255, 255, 255)">CONTINENTAL</a>
                        
                        <a class="dropdown-item" style="color: rgb(255, 255, 255)">SCOTIABANK</a>                     
                    </div>
  
  
  
                </li>
            </ul>
           
        </div> 
    </div> 
  </nav>
  
  <nav  style="opacity: 1; padding-top: 0px;">
      <div class="container" class="col-8" style="padding-left:400px" >   
          
  
  <!-- 
    *ngIf="sub_menu==1"
  -->  
      <div >
         <nav  style="opacity: 1;background-color: rgba(124, 124, 124, 0.973); height: 550px; width: 800px; text-justify: auto;">        
              <div  style="padding-left: 15px; color: rgb(255, 255, 255) ;" >
                  <p>Estado:   80%    <p>    
                  <p>Presupuesto Asignado:  2,000,000.00 soles    <p>              
                  <p>Presupuesto Gastado:  1,500,000.00 soles    <p>  
                  <p>Lugares de Instalación:  
                      <li>Lima        </li>
                      <li>Arequipa        </li>
                      <li>Ica        </li>
                      <li>Trujillo        </li>                      
                  <p>  
      
                  <p>Jefes de Proyecto  
                          <li>Encargado General:    Bryan Isaac Rivera Esquivel        </li>
                          <li>Jefe de Planta:       Mercedes        </li>
                          <li>Jefe de Logística:    Gerson        </li>
                          <li>Jefe de Personal asignado: Jorge        </li>                    
                  <p> 
                  
              </div>
            
           </nav>
       </div>  
          
      
  
      </div>
  </nav>
  
